- unless book_category_details.nil?
	- book_category_details.each do |category_detail|
		= link_to category_detail.category_name, 'javascript:void(0)', class: 'book_category_link', data: { category_id: category_detail.id}
		\|
