.span2{style: "margin-top: 68px;"}
  - @book_category.each do |c|
    %label.check_box_categor_label
      = link_to c[:category_name], show_books_by_category_path(c[:id]),method: :get,remote: true,class: "category_link"