.container-fluid
  = render partial: 'hero'
  = hidden_field_tag "search_data", @search_data
  .row-fluid
    .span2
      = render :partial => 'category'
    .span10
      %h4.categor_label{ style: "color: #0088CC" } All Best Sellers
      #books= render :partial => 'books_details', :locals => { paginate_action: "show" }